<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap}" rel="stylesheet">
</head>
<body>
<header>
    <!--NavBar Section-->
    <div class="navbar">
        <nav class="navigation hide" id="navigation">
            <span class="close-icon" id="close-icon" onclick="showIconBar()"><i class="fa fa-close"></i></span>
            <ul class="nav-list">
                <li class="nav-item"><a href="/forums">Forums</a></li>
                <li class="nav-item"><a href="/posts?keyword=">Posts</a></li>
            </ul>
        </nav>
        <a class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a>
        <div class="brand">My Forum</div>
    </div>
    <!--SearchBox Section-->
    <div class="search-box">
        <div>
            <select name="search-type" id="search-type">
                <option value="everything">Everything</option>
                <option value="titles">Titles</option>
                <option value="descriptions">Descriptions</option>
            </select>
            <input type="text" name="q" id="search-input" placeholder="Search ...">
            <button id="search-button"><i class="fa fa-search"></i></button>
        </div>
    </div>
</header>
<div class="container">
    <div class="pageContent">
        <div class="p-body-pageContent">
            <form th:action="@{'/update'+'/save'+'/user?id=' + ${id} }" method="post" th:object="${userShown}" class="block" data-xf-init="ajax-submit" data-force-flash-message="true" onkeydown="return event.key !== 'Enter';">
                <div class="block-container">
                    <div class="block-body">
                        <dl class="formRow formRow--button">
                            <dt>
                                <div class="formRow-labelWrapper">
                                    <label class="formRow-label">User name</label></div>
                            </dt>
                            <dd>
                                <input type="text" class="input" name="profile[location]" maxlength="50" id="user-name" th:field="*{userName}" onkeydown="if(event.key === 'Enter') { this.blur(); return false; }">
                            </dd>
                        </dl>
                        <dl class="formRow formRow--button">
                            <dt>
                                <div class="formRow-labelWrapper">
                                    <label class="formRow-label">Email</label></div>
                            </dt>
                            <dd>
                                <input type="text" class="input" name="profile[location]" maxlength="50" id="email-input" th:field="*{userEmail}" onkeydown="if(event.key === 'Enter') { this.blur(); return false; }">
                            </dd>
                        </dl>
                        <dl class="formRow formRow--button">
                            <dt>
                                <div class="formRow-labelWrapper">
                                    <label class="formRow-label">Password</label>
                                </div>
                            </dt>
                            <dd>
                                <input class="input" name="profile[location]" maxlength="50" id="password-input" th:field="*{userPassword}" >
                            </dd>
                        </dl>
                        <dl class="formRow formRow--input">
                            <dt>
                                <div class="formRow-labelWrapper">
                                    <label class="formRow-label">Date of birth</label></div>
                            </dt>
                            <dd>
                                <div class="inputGroup inputGroup--auto">
                                    <input type="text" class="input" name="dob_day" th:value="${defaultDay}" pattern="\d*" size="4" maxlength="2" placeholder="Day" onkeydown="if(event.key === 'Enter') { this.blur(); return false; }">
                                    <input type="text" class="input" name="dob_month" th:value="${defaultMonth}" pattern="\d*" size="4" maxlength="2" placeholder="Month" onkeydown="if(event.key === 'Enter') { this.blur(); return false; }">
                                    <input type="text" class="input" name="dob_year" th:value="${defaultYear}" pattern="\d*" size="6" maxlength="4" placeholder="Year" onkeydown="if(event.key === 'Enter') { this.blur(); return false; }">
                                </div>
                                <div class="formRow-explain">Day/Month/Year</div>

                            </dd>
                        </dl>
                        <dl class="formRow formRow--input">
                            <dt>
                                <div class="formRow-labelWrapper">
                                    <label class="formRow-label" >Location</label></div>
                            </dt>
                            <dd>
                                <input type="text" class="input" name="profile[location]" maxlength="50" id="location-input" th:field="*{userLocation}" onkeydown="if(event.key === 'Enter') { this.blur(); return false; }">
                            </dd>
                        </dl>
                        <dl class="formRow formRow--input">
                            <dt>
                                <div class="formRow-labelWrapper">
                                    <label class="formRow-label" >About you</label></div>
                            </dt>
                            <dd>
                                <textarea id="myTextarea" name="userInfoInput" class="fr-element fr-view" dir="ltr" style="min-height: 250px;" aria-disabled="false" spellcheck="true" onkeydown="if(event.key === 'Enter') { this.blur(); return false; }" th:text="*{userInfo}"></textarea>
                            </dd>

                        </dl>


                    </div>

                    <dl class="formRow formSubmitRow formSubmitRow--sticky" data-xf-init="form-submit-row">
                        <dt></dt>
                        <dd>
                            <div class="formSubmitRow-main">
                                <div class="formSubmitRow-bar"></div>
                                <div class="formSubmitRow-controls">
                                    <button type="submit" class="button--primary button button--icon button--icon--save" ><span class="button-text">Save</span></button>
                                </div>
                            </div>
                        </dd>
                    </dl>


                </div>

                <input type="hidden" name="_xfToken" value="1696939748,a5bce6bca255411f4b52aaa52160b457">

            </form>

        </div>
    </div>
    <div id="post-list"></div>

    <div id="pagination"></div>
</div>

<div class="note">
    <span><i class="fa fa-book"></i>&nbsp; Create Post</span>&nbsp;&nbsp;&nbsp;<a href="/posts/create"><i class="fa fa-share-square"></i></a><br>
</div>
</div>
<script th:type="javascript">
    function hideIconBar(){
        var iconBar = document.getElementById("iconBar");
        var navigation = document.getElementById("navigation");
        iconBar.setAttribute("style", "display:none;");
        navigation.classList.remove("hide");
    }

    function showIconBar(){
        var iconBar = document.getElementById("iconBar");
        var navigation = document.getElementById("navigation");
        iconBar.setAttribute("style", "display:block;");
        navigation.classList.add("hide");
    }
</script>
</body>
</html>